{% load leidoscloud_template_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- bootstrapCDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'custom-colors.css' %}" />
    <style>
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    </style>
    <!--Required meta tags for bootstrap-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leidos Storm - {% block title_block %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">Leidos Storm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                {% nav_link 'index' 'Home' %}
                {% nav_link 'CloudSurf' 'CloudSurf Now' %}
                {% nav_link 'predictions' 'Predictions' %}
                {% nav_link 'log' 'Log' %}
                {% nav_link 'delete_log' 'Deletion Log' %}
                {% endif %}
                {% nav_link 'admin:index' 'Admin Panel' %}
                {% if user.is_authenticated %}
                {% nav_link 'logout' 'Log Out' %}
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="pt-4">{% block heading_block %}{% endblock %}</h1>
        {% block body_block %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>

</html>
