{% extends 'base.html' %}
{% load leidoscloud_template_tags %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
{% for message in messages %}
<div class="my-2  list-group-item list-group-item-{% if message.tags %}{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}success{% endif %}{% endif %}">
    {{ message }}</div>
{% endfor %}
<div class="d-flex flex-column flex-lg-row justify-content-between">
    <div>
        <div class="jumbotron">
            <div class="display-4">
                {% heading_text current_provider running_time end_provider %}
            </div>
        </div>

        <h2>Transitions</h2>
        <div class="table-responsive-lg">
            <table class="table table-striped ">
                {% transition_table %}
            </table>
        </div>
    </div>
    <div class="pt-1 px-4">
        {% current_status %}
    </div>
</div>


{% endblock %}
